.THIS {
    color:#000;
}
.THIS header, .THIS footer {
    background-color:#000;
}
.THIS .fieldLabel {
    font-weight:bold;
    width:33%;
}
.THIS td {
    vertical-align:top;
}
.THIS td.lastRow {
    padding-bottom:15px;
}
.THIS lightning-formatted-text { 
    color:#000;
    font-size:18px;
}
.THIS #viewCasesButton {
    font-family:QuicksandBold;
    color:#000;
    width:100%;
    background-color:#cfcfcf;
    font-size:26px;
    border:none;
    border-radius:5px;
    padding:5px;
}

/******* *SHOW CASES MODAL* *******/
.THIS #modal-heading-01 {
    font-family:SyncopateBold;
    font-size:48px;
}
.THIS .slds-modal__container {
    max-width:60em;
}
.THIS .slds-modal__header {
    border-bottom:2px solid #000;
}
.THIS .formBody {
    padding:1px 5px;
}
.THIS .infoHeader {
    display:flex;
    background-color:#cfcfcf;
    width:100%;
    padding:0 0 0 15px;
    
    border-top:1px solid #999;
    border-bottom:1px solid #999;
    
    font-family:SyncopateBold;
    font-size:28px;
    color:#888;
}
.THIS .slds-modal table {
    margin-top:-15 px;
}
.THIS .slds-modal td {
    width:50%;
    padding-bottom:5px;
}
.THIS .fieldCustomerName {
    margin-top:15px;
    width:100%;
    font-family:QuicksandBold;
}
.THIS .fieldName {
    width:100%;
    font-family:QuicksandBold;
}
.THIS .fieldOutput {
    padding-left:15px;
    width:95%;
}
/******* /CREATE CASE MODAL/ *******/