.THIS {
    color:#000;
}
.THIS .grid {
    padding:5px;
    display:inline-block;
    /*margin-bottom:5px;*/
}
.THIS .gridLeft {
    float:left;
    margin-right:20px;
}
.THIS .gridRight {
    float:left;
}
.THIS .fieldLabel {
    font-weight:bold;
}
.THIS lightning-formatted-text { 
    color:#000;
    font-size:18px;
}