.THIS article .cComponentWrapper {
    max-width:60vw;
}
.THIS .cComponentWrapper:nth-child(2) h2 {
    font-family:QuicksandBold;
    min-height:60px;
    font-size:28px;
    padding-top:5px;
    text-transform:none;
}
.THIS .cComponentWrapper:nth-child(2) {
    background-color:#000;
}