.THIS{
    border:5px solid black;
    border-radius: 20px;
    width: 100%;
    min-height: 100px;
    overflow:hidden;
    box-sizing:border-box;
    margin: 10px 0;
}

.THIS h2 {
    text-align: center;
    width: 100%;
    background-color: black;
    color: #F9E9FF;
    text-transform: uppercase;
}