.THIS {
    
}
.THIS.wrapper {
    width:100%;
    min-height: 25vh;
   	background-image:url("/resource/HeaderImgFull");
    /*background-attachment:fixed;*/
    background-size:1500px 600px;
    background-position: center -375px;
    background-repeat:no-repeat;
    background-color:#000;
    display: flex;
    justify-content: space-between;
}
.THIS .titleWrapper {
    width:fit-content;
    text-align:right;
    line-height:46px;
}
.THIS .quoteWrapper {
    align-self: flex-end;
    width:40%;
    text-align:center;
    line-height:46px;
}